<main class="container centered">
  <article>
    <hgroup>
      <h1>Sign up</h1>
      <h3>Create and attend events whenever you want</h2>
    </hgroup>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form') do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.text_field :username, placeholder: 'Username', class: "field" %>
      <%= f.email_field :email, autocomplete: "email", placeholder: 'Email', class: "field" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: "field" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Repeat Password', class: "field" %>
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </article>
</main>
